.footer-box {
  background-color: #2e2f2c;
  .text-center {
    font-family: "Russo One", sans-serif;
  }
  .text-uppercase {
    font-family: "Russo One", sans-serif;
  }
  .text-white {
    text-decoration: none;
  }
}
