@media screen and (max-width: 768px) {
  .body-cards {
    display: grid;
    justify-items: center;
  }

  .container-footer {
    justify-items: center;
  }

  .explanation {
    padding: 10px;
    font-size: 20px;
  }
  .nav-bar {
    width: 100%;
    nav a {
      font-size: 9px;
    }
  }
}

@media screen and (max-width: 425px) {
  .nav-bar nav {
    flex-direction: column;
    padding: 5px;
    height: 150px;
    .a {
      line-height: 25px;
    }
  }
}

.box {
  display: flexbox;
}

/*Contacto*/

@media screen and (max-width: 768px) {
  div.page-wrapper div.container {
    width: 98%;
  }
}
@media screen and (max-width: 400px) {
  div.page-wrapper div.container {
    width: 90%;
    flex-wrap: wrap;
  }
  div.page-wrapper div.container div.col1 {
    width: 50%;
  }
  div.page-wrapper div.container div.col2 {
    width: 50%;
  }
  div.page-wrapper div.container div.col2 div.form-wrapper {
    width: 100%;
  }
}

/* Sobre Nosotros */
@media screen and (max-width: 768px) {
  .body_about {
    display: grid;
    justify-items: center;
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .img-avatar {
    display: none;
  }
}

@media screen and (max-width: 495px) {
  .body_about {
    display: grid;
    justify-items: center;
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .img-avatar {
    display: none;
  }
  .title-total {
    padding: 0.5em 0.5em 0.5em 1.5em;
  }
  .descrip {
    font-size: 12px;
  }
}

/* Galería */
@media screen and (max-width: 768px) {
  .gallery-wrapper {
    display: grid;
    justify-items: center;
    width: 75%;
  }
}
@media screen and (max-width: 425px) {
  .gallery-wrapper {
    flex-direction: column;
    justify-items: center;
    width: 75%;
    display: flex;
  }
}

/* Eventos*/

@media screen and (max-width: 768px) {
  .container_event {
    display: flex;
    width: 100%;
    height: 300vh;
    padding: 0% 2%;
    box-sizing: border-box;
    pointer-events: none;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 425px) {
  .container_event {
    display: flex;
    width: 100%;
    height: 200vh;
    padding: 0% 2%;
    box-sizing: border-box;
    pointer-events: none;
    flex-direction: column-reverse;
  }
}

/* Burguer y logo */
@media screen and (max-width: 992px) {
  .brand {
    font-family: "Russo One", sans-serif;
    color: #af2929;
    font-size: 20px;
    margin-right: 450px;
    text-decoration: none;
  }
  .navbar .container-fluid .logo-nav {
    width: 4vw;
  }
}

@media screen and (max-width: 768px) {
  .brand {
    font-family: "Russo One", sans-serif;
    color: #af2929;
    font-size: 20px;
    margin-right: 120px;
    text-decoration: none;
  }
  .navbar .container-fluid .logo-nav {
    width: 4vw;
  }
}

@media screen and (max-width: 425px) {
  .brand {
    font-family: "Russo One", sans-serif;
    color: #af2929;
    font-size: 20px;
    margin-right: 100px;
    text-decoration: none;
  }
  .navbar .container-fluid .logo-nav {
    width: 4vw;
  }
}
