@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  background: #2e2f2c;
  padding-top: 0;
  padding-bottom: 0;
  .nav-link {
    color: #eeeaee;
  }
  .container-fluid {
    .logo-nav {
      width: 2vw;
    }
  }
  .navbar-nav {
    text-transform: uppercase;
    font-weight: bold;
    .nav-link:hover {
      background-color: #317086;
    }
  }
}
.brand {
  font-family: "Russo One", sans-serif;
  color: #6299b8;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 3px;
  text-decoration: none;
}
a:hover {
  color: #6299b8;
}
