* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #979494;
}

/* Header*/
.menu {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.tittle {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
}
.title-principal-logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
}
/* Logo header
.logo {
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  align-content: center;
}*/
.logo-header {
  width: 45px;
  height: 45px;
  margin-top: 15px;
}
/* Nav */
.navbar {
  background: linear-gradient(-45deg, #9eacb1, #76797a, #867171);
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo-nav {
  width: 2vw;
}

.navbar-nav{
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link:hover{
  background-color: #8ea1a8;
  
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}



/* Fin Nav*/
/* Título */
h1 {
  text-align: center;
  margin: 15px 0 15px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Cherry Swash", cursive;
  text-transform: uppercase;
}

/* Cartas Inicio*/
.body-cards {
  display: flex;
  justify-content: center;
}
.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px black;
}
.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: whitesmoke;
  background-color: rgb(0, 0, 0, 0.4);
  text-align: center;
  text-transform: uppercase;
}
.card .back {
  transform: perspective(600px) rotateY(180deg);
  background-color: rgb(3, 35, 54);
  padding: 30px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 10px black;
}
.card .back h3 {
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.card .back {
  letter-spacing: 1px;
}
.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/* Fin cartas Inicio*/

/* Inicio Footer*/
.footer-box {
  background-color: #76797a;
}

/* Carousel */

/* Formulario de contacto*/
.contact-form {
  padding-left: 20px;
  padding-top: 30px;
}
/*Sobre nosotros*/
.sectio-about-us {
  margin: 15px;
}
.tittle-about-us {
  text-align: center;
  padding: 10px;
}

/*Galería*/

.video {
  display: flex;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.video p {
  padding: 5px;
  margin: 10px;
}

/*Eventos*/
.body-events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.body-events p {
  padding: 5px;
  margin: 15px;
}

/* Gird y medias queries*/
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 10px;
}

@media screen and (max-width: 768px) {
  .body-cards {
    display: grid;
    justify-items: center;
  }

  .container-footer {
    justify-items: center;
  }

  .explanation {
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  .nav-bar {
    width: 100%;
  }
  .nav-bar nav a {
    font-size: 9px;
  }
}

@media screen and (max-width: 425px) {
  .nav-bar nav {
    flex-direction: column;
    padding: 5px;
    height: 150px;
  }
  .nav-bar nav a {
    line-height: 25px;
  }
  .video {
    align-items: center;
  }
  .video iframe {
    width: 300px;
  }
}
